In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\Krishnangi Borgohain\AppData\Local\Temp\ipykernel_12384\265554930.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
cars = pd.read_csv(r"c:\Users\Krishnangi Borgohain\Downloads\cars.csv")
print(cars.head(10))

    Make                    Model    Type  Origin DriveTrain      MSRP  \
0  Acura                      MDX     SUV    Asia        All  $36,945
1  Acura           RSX Type S 2dr   Sedan    Asia      Front  $23,820
2  Acura                  TSX 4dr   Sedan    Asia      Front  $26,990
3  Acura                   TL 4dr   Sedan    Asia      Front  $33,195
4  Acura               3.5 RL 4dr   Sedan    Asia      Front  $43,755
5  Acura  3.5 RL w/Navigation 4dr   Sedan    Asia      Front  $46,100
6  Acura   NSX coupe 2dr manual S  Sports    Asia       Rear  $89,765
7   Audi              A4 1.8T 4dr   Sedan  Europe      Front  $25,940
8   Audi   A41.8T convertible 2dr   Sedan  Europe      Front  $35,940
9   Audi               A4 3.0 4dr   Sedan  Europe      Front  $31,840

    Invoice  EngineSize  Cylinders  Horsepower  MPG_City  MPG_Highway  Weight  \
0  $33,337          3.5        6.0       265.0      17.0         23.0  4451.0
1  $21,761          2.0        4.0       200.0      24.0         31.0  2778.0
2  $24,647          2.4        4.0       200.0      22.0         29.0  3230.0
3  $30,299          3.2        6.0       270.0      20.0         28.0  3575.0
4  $39,014          3.5        6.0       225.0      18.0         24.0  3880.0
5  $41,100          3.5        6.0       225.0      18.0         24.0  3893.0
6  $79,978          3.2        6.0       290.0      17.0         24.0  3153.0
7  $23,508          1.8        4.0       170.0      22.0         31.0  3252.0
8  $32,506          1.8        4.0       170.0      23.0         30.0  3638.0
9  $28,846          3.0        6.0       220.0      20.0         28.0  3462.0

   Wheelbase  Length
0      106.0   189.0
1      101.0   172.0
2      105.0   183.0
3      108.0   186.0
4      115.0   197.0
5      115.0   197.0
6      100.0   174.0
7      104.0   179.0
8      105.0   180.0
9      104.0   179.0

In [4]:
#Find all Null Values in the dataset. If there is any null value in any column, then fill it with the mean of that column.

null_values = cars.isnull().sum()
print("Null values count in each column:")
print(null_values)

Null values count in each column:
Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [ ]:
#Question ( Based on Value Counts )- Check what are the different types of Make are there in our dataset. And, what is the count (occurrence) of each Make in the data ?

count_datatset = cars["Make"].value_counts()
print(count_datatset)

In [5]:
#Instruction ( Removing unwanted records ) - Remove all the records (rows) where Weight is above 4000.

unwanted_records = cars[cars["Weight"]<=4000]
print("Unwanted records:", unwanted_records)

Unwanted records:       Make                    Model   Type  Origin DriveTrain      MSRP  \
1    Acura           RSX Type S 2dr  Sedan    Asia      Front  $23,820
2    Acura                  TSX 4dr  Sedan    Asia      Front  $26,990
3    Acura                   TL 4dr  Sedan    Asia      Front  $33,195
4    Acura               3.5 RL 4dr  Sedan    Asia      Front  $43,755
5    Acura  3.5 RL w/Navigation 4dr  Sedan    Asia      Front  $46,100
..     ...                      ...    ...     ...        ...       ...
427  Volvo  C70 LPT convertible 2dr  Sedan  Europe      Front  $40,565
428  Volvo  C70 HPT convertible 2dr  Sedan  Europe      Front  $42,565
429  Volvo               S80 T6 4dr  Sedan  Europe      Front  $45,210
430  Volvo                      V40  Wagon  Europe      Front  $26,135
431  Volvo                     XC70  Wagon  Europe        All  $35,145

      Invoice  EngineSize  Cylinders  Horsepower  MPG_City  MPG_Highway  \
1    $21,761          2.0        4.0       200.0      24.0         31.0
2    $24,647          2.4        4.0       200.0      22.0         29.0
3    $30,299          3.2        6.0       270.0      20.0         28.0
4    $39,014          3.5        6.0       225.0      18.0         24.0
5    $41,100          3.5        6.0       225.0      18.0         24.0
..        ...         ...        ...         ...       ...          ...
427  $38,203          2.4        5.0       197.0      21.0         28.0
428  $40,083          2.3        5.0       242.0      20.0         26.0
429  $42,573          2.9        6.0       268.0      19.0         26.0
430  $24,641          1.9        4.0       170.0      22.0         29.0
431  $33,112          2.5        5.0       208.0      20.0         27.0

     Weight  Wheelbase  Length
1    2778.0      101.0   172.0
2    3230.0      105.0   183.0
3    3575.0      108.0   186.0
4    3880.0      115.0   197.0
5    3893.0      115.0   197.0
..      ...        ...     ...
427  3450.0      105.0   186.0
428  3450.0      105.0   186.0
429  3653.0      110.0   190.0
430  2822.0      101.0   180.0
431  3823.0      109.0   186.0

[325 rows x 15 columns]

In [6]:
#Instruction ( Applying function on a column ) - Increase all the values of 'MPG_City' column by 3.
cars["MPG_City"]+=3
print(cars)

      Make                    Model   Type  Origin DriveTrain      MSRP  \
0    Acura                      MDX    SUV    Asia        All  $36,945
1    Acura           RSX Type S 2dr  Sedan    Asia      Front  $23,820
2    Acura                  TSX 4dr  Sedan    Asia      Front  $26,990
3    Acura                   TL 4dr  Sedan    Asia      Front  $33,195
4    Acura               3.5 RL 4dr  Sedan    Asia      Front  $43,755
..     ...                      ...    ...     ...        ...       ...
427  Volvo  C70 LPT convertible 2dr  Sedan  Europe      Front  $40,565
428  Volvo  C70 HPT convertible 2dr  Sedan  Europe      Front  $42,565
429  Volvo               S80 T6 4dr  Sedan  Europe      Front  $45,210
430  Volvo                      V40  Wagon  Europe      Front  $26,135
431  Volvo                     XC70  Wagon  Europe        All  $35,145

      Invoice  EngineSize  Cylinders  Horsepower  MPG_City  MPG_Highway  \
0    $33,337          3.5        6.0       265.0      20.0         23.0
1    $21,761          2.0        4.0       200.0      27.0         31.0
2    $24,647          2.4        4.0       200.0      25.0         29.0
3    $30,299          3.2        6.0       270.0      23.0         28.0
4    $39,014          3.5        6.0       225.0      21.0         24.0
..        ...         ...        ...         ...       ...          ...
427  $38,203          2.4        5.0       197.0      24.0         28.0
428  $40,083          2.3        5.0       242.0      23.0         26.0
429  $42,573          2.9        6.0       268.0      22.0         26.0
430  $24,641          1.9        4.0       170.0      25.0         29.0
431  $33,112          2.5        5.0       208.0      23.0         27.0

     Weight  Wheelbase  Length
0    4451.0      106.0   189.0
1    2778.0      101.0   172.0
2    3230.0      105.0   183.0
3    3575.0      108.0   186.0
4    3880.0      115.0   197.0
..      ...        ...     ...
427  3450.0      105.0   186.0
428  3450.0      105.0   186.0
429  3653.0      110.0   190.0
430  2822.0      101.0   180.0
431  3823.0      109.0   186.0

[432 rows x 15 columns]